<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Shopping Cart</span>
  <span class="example-spacer"></span>
 
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div class="full">
  <div id="mySidebar" class="sidebar">
  <div  class="image">
 
        <img src="../../assets/icon.png" />

  </div>
 <div class="name">Mano</div>
  </div>
  
  <div id="main">
 <router-outlet></router-outlet>

   </div>
  
</div>
  